@import url("https://fonts.cdnfonts.com/css/press-start-2p");

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
}

/* Basic styles, change according to your style */
button {
  padding: 10px;
  width: fit-content;
}
#start-page {
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: aquamarine;
}
/* ----------------- canvas styles ----------*/
.screen-outputs {
  position: relative;
}
#canvas-map {
  border: 1px solid black;
  background-color: lightblue;
  background-image: url(../images/pasillo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fight-event {
  background-color: black;
  color: azure;
  width: 990px;
  height: 100px;
  border: 5px solid azure;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#start-fight {
  margin-top: 10px;
}
#canvas-fight {
  border: 1px solid black;
  background-color: rgb(230, 225, 173);
  background-image: url(../images/fight1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#soldier-stats {
  background-color: bisque;
  width: 200px;
  height: 35px;
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 270px;
}
#tyranid-stats {
  background-color: rgb(196, 255, 213);
  width: 200px;
  height: 35px;
  font-size: 27px;
  position: absolute;
  text-align: center;
  bottom: 150px;
  right: 405px;
}
#attack-button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 400px;
}

#lose-page {
  height: 600px;
  width: 1000px;
  border: 1px solid black;
  background-color: rgb(212, 127, 108);
  position: relative;
}
#win-page {
  height: 600px;
  width: 1000px;
  border: 1px solid black;
  background-color: rgb(172, 108, 212);
  position: relative;
  align-items: center;
}

/* ----------------- events styles ----------*/

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}
