@import url("https://fonts.cdnfonts.com/css/press-start-2p");

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", sans-serif;
}

/* Basic styles, change according to your style */
button {
  padding: 10px;
  width: fit-content;
}

/* ----------------- start styles ----------*/
#start-page {
  height: 600px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}
.game-tittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 990px;
  height: 75px;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  text-shadow: 0 0 5px #c8c8c8;
  border: 5px solid whitesmoke;
  color: white;
  border-radius: 15px;
  font-size: 40px;
}
.block1 {
  display: flex;
}
.green-screen {
  height: 400px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  background-color: black;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
  text-shadow: 0 0 5px #c8c8c8;
  border: 5px solid whitesmoke;
  border-radius: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.block2 {
  display: flex;
  align-items: center;
}
.controls {
  background-color: black;
  color: azure;
  height: 100px;
  border: 5px solid azure;
  border-radius: 10px;
  bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
#start {
  height: 100px;
  width: 200px;
  height: 74px;
}
h3 {
  width: fit-content;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 3px solid whitesmoke;
}
.video-intro {
  background-color: #af4537;
  background-image: url("../videos/start-radar.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 700px;
  height: 400px;
  border: 5px solid azure;
  border-radius: 10px;
}
/* ----------------- canvas styles ----------*/
.screen-outputs {
  position: relative;
}
#canvas-map {
  border: 1px solid black;
  background-color: lightblue;
  background-image: url(../images/pasillo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fight-event {
  background-color: black;
  color: azure;
  width: 990px;
  height: 100px;
  border: 5px solid azure;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#start-fight {
  margin-top: 10px;
}
#canvas-fight {
  border: 1px solid black;
  background-color: rgb(230, 225, 173);
  background-image: url(../images/fight1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.stats-box {
  background-color: #5a5b61;
  color: #d0c1b4;
  width: 220px;
  height: 25px;
  border: 5px solid #d0c1b4;
  border-radius: 10px;
  font-size: 14px;
  position: absolute;
  padding: 5px 22px;
  justify-content: center;
  align-items: center;
}
#soldier-stats {
  top: 20px;
  left: 150px;
}
#tyranid-stats {
  bottom: 150px;
  left: 465px;
}
#attack-button {
  font-size: 40px;
  position: absolute;
  padding: 15px 20px;
  bottom: 40px;
  left: 350px;
  justify-content: center;
  align-items: center;
  background-color: #af4537;
  border: 5px solid #333437;
  color: black;
}
#win-page {
  height: 600px;
  width: 1000px;
  border: 1px solid black;
  position: relative;
  background-image: url(../images/win-game.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#lose-page {
  height: 600px;
  width: 1000px;
  border: 1px solid black;
  position: relative;
  background-image: url(../images/lose-game3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.info {
  background-color: black;
  color: azure;
  width: 990px;
  height: 100px;
  border: 5px solid azure;
  border-radius: 10px;
  position: absolute;
  bottom: 5px;
  text-align: center;
}
.end-text {
  padding: 10px;
}

/* ----------------- events styles ----------*/

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}
