* {
  margin: 0;
  padding: 0;
}

/* Basic styles, change according to your style */

#start-page{
  height: 600px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 30px;
}
/* ----------------- canvas styles ----------*/
.screen-outputs{
  position:relative;
  margin-left: 30px;
}
#canvas-map {
  border: 1px solid black;
  background-color: lightblue;
  background-image: url(../images/pasillo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#fight-event {
  background-color: brown;
  width: 1000px;
  height: 80px;
  border: 1px solid black;
  position: absolute;
  bottom: 5px;
}
#canvas-fight {
  border: 1px solid black;
  background-color: rgb(230, 225, 173);
}
#soldier-stats {
  background-color: bisque;
  width: 200px;
  height: 35px;
  font-size: 27px;
  position: absolute;
  text-align: center;
  top: 100px;
  left: 270px;
}
#tyranid-stats {
  background-color: rgb(196, 255, 213);
  width: 200px;
  height: 35px;
  font-size: 27px;
  position: absolute;
  text-align: center;
  bottom: 150px;
  right: 405px;
}
#attack-button {
  width: 200px;
  height: 50px;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
    left: 400px;
}
#soldier-msg {
  width: 1000px;
  height: 50px;
  align-self: center;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  justify-content: space-evenly;
  font-size: 30px;
  bottom: 5px;
}
#tyranid-msg {
  width: 1000px;
  height: 50px;
  align-self: center;
  border: 1px solid black;
  position: absolute;
  text-align: center;
  padding-top: 10px;
  justify-content: space-evenly;
  font-size: 30px;
  bottom: 5px;
}



#lose-page{
    height: 600px;
      width: 1000px;
  border: 1px solid black;
    background-color: rgb(212, 127, 108);
    margin: 0 auto;
    margin-left: 91.5px;
    margin-right: 91.52px;
    margin-top: 30px;
    position: relative;
}
#win-page {
    height: 600px;
      width: 1000px;
  border: 1px solid black;
  background-color: rgb(172, 108, 212);
  margin: 0 auto;
  margin-left: 91.5px;
  margin-right: 91.52px;
  margin-top: 30px;
  position: relative;
  align-items: center;
}


/* ----------------- events styles ----------*/





/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}